* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

body .container {
  background: #caf0e96c;
  /* give the outermost container a predefined size */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
body .container .section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  /* for Firefox */
  min-height: 0;
}
body .container .section .form-content {
  padding: 0.5% 0;
}
body .container .section .form-content div {
  margin: 0 1%;
}
body .container .section .form-content form {
  display: grid;
}
@media only screen and (min-width: 768px) {
  body .container .section .form-content form {
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;
  }
}
body .container .section .form-content form label {
  color: #009991;
}
body .container .section .form-content form #hidden-label {
  color: rgba(255, 255, 255, 0);
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10+ and Edge */
  user-select: none;
  /* Standard syntax */
}
body .container .section .form-content form #submit-div {
  display: flex;
  flex-direction: column;
}
body .container .section .form-content form #submit-div #calculate--target {
  max-height: 44px;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10+ and Edge */
  user-select: none;
  /* Standard syntax */
  position: relative;
  text-transform: uppercase;
  color: white;
  background-color: #009991;
  box-shadow: 0 2px 0 #055a53;
}
body .container .section .form-content form #submit-div #calculate--target:hover {
  color: white;
  background-color: #009991;
  box-shadow: 0 2px 0 #055a53;
}
body .container .section .form-content form #submit-div #calculate--target:active {
  box-shadow: none;
  top: 2px;
  cursor: progress;
}
body .container .section .form-content input[type=number], body .container .section .form-content #calculate--target {
  width: 100%;
  padding: 10px 15px;
  font-size: 18px;
  text-align: center;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #009991;
  color: #009991;
  border-radius: 4px;
  outline: none;
}
body .container .section .form-content input[type=number]:focus {
  border: 2px solid #016d68;
  color: #6d0404;
  caret-color: #c9c9c9;
}
body .container .section .content {
  background: #f5f5f5;
}
body .container .section .content .navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-transform: uppercase;
  font-size: 17.5px;
  background-color: #ebebeb;
}
body .container .section .content .navbar .nav-item {
  padding: 20px;
}
body .container .section .content .navbar .nav-item .navbar-link {
  text-decoration: none;
  color: #949494;
  font-family: Verdana;
}
body .container .section .content .navbar .nav-item .navbar-link:hover {
  color: #777777;
}
body .container .scrollable-content {
  background: #d3f0ee;
  flex-grow: 1;
  overflow: auto;
  text-align: center;
  padding: 1% 5.5%;
  /* for Firefox */
  min-height: 0;
}
body .container .scrollable-content .scroll_btn {
  display: block;
  right: 3%;
  z-index: 99;
  font-size: 12px;
  font-weight: 600;
  line-height: 11px;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.301);
  color: white;
  cursor: pointer;
  padding: 7.5px;
  border-radius: 90px;
  justify-content: center;
}
body .container .scrollable-content #myBtn {
  position: absolute;
  bottom: 48%;
}
body .container .scrollable-content #btn-scroll-bottom {
  position: absolute;
  top: 55%;
  padding-top: 8px;
}
body .container .scrollable-content #myBtn:hover, body .container .scrollable-content #btn-scroll-bottom:hover {
  background-color: #009991;
}

/* width */
::-webkit-scrollbar {
  width: 17px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ebebeb;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #009991;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: #009991;
}

::selection {
  color: white;
  background: #009991;
}

.text-container {
  font-size: 23px;
  color: #006d5e;
  padding: 7.5px 0;
}
.text-container .calc_value {
  margin: 0 15px 0px 5px;
}

.max-margin-exceed {
  color: lightgray;
}

.period_number {
  color: #8f9190;
}

.monthly-targets {
  color: red;
}

.weekly-targets {
  color: #4d4d4d;
}

.yearly-targets {
  color: #000a63;
}

.total-investment {
  color: #0d0080;
}

/*# sourceMappingURL=main.css.map */
